.Head {
  background: var(--headerMarron);
}

.Head__images {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  gap: 16px;
}


.Head__image--desktop {
  width: 33.33%;
  border-radius: 14px;
  object-fit: cover;
}

.Head__image--active,
.Head__arrow {
  display: none;
}

@media (max-width: 768px) {
  .Head__images {
    justify-content: center;
  }

  .Head__image--desktop {
    display: none;
  }

  .Head__image--active {
    display: block;
    width: 85%;
    border-radius: 16px;
  }

  .Head__arrow {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--darkMarron);
    color: var(--lightBeige);
    border: none;
    font-size: 2rem;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .Head__arrow--left {
    left: 10px;
  }

  .Head__arrow--right {
    right: 10px;
  }
}

@media (min-width: 1200px) {
    .Head__images {
      width: 1120px;
      margin: auto;

    }
}

@media (min-width: 1400px) {
    .Head__images {
      width: 1300px;

    }
}



