@media (min-width: 768px) {
	.home__aside {
		display: flex;
		gap: 1rem;
	}

	.home__aside > * {
		flex: 1;
	}
}

@media (min-width: 1200px) {

	.home__books {
		position: relative;
	}

	.home__newestBooks{
        margin-top: 400px;
    }

	.home__ads {
		position: absolute;
		top: 710px;
		margin-left: 15px;
	}

	.home__newestBooks {
		margin-top: 320px;
	}
	.carousel__container {
		max-width: 1180px;
	}

	.home__section {
		position: relative;
		max-width: 1175px;
		margin: 0 auto;
	}

	.home__aside {
		display: block;
		position: absolute;
		width: 420px;
        bottom: 270px;
		right: 0px;
	}
}

@media (min-width: 1400px) {
	.home__section {
		max-width: 1340px;
	}

	.home__aside {
		width: 500px;
		bottom: 240px;

	}

	.home__newestBooks{
        margin-top: 360px;
    }

	.home__ads{
		top: 730px;
	}

	.carousel__container {
		max-width: 1320px;
	}
}
