.container__login {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
	margin: 10px 15px 10px 10px;
}

.login__title {
	font-family: var(--fontTitle);
	font-size: 1.6em;
	text-transform: uppercase;
	text-align: center;
	margin: 0.5em;
	z-index: 2;
}

.login__form {
	display: flex;
	flex-direction: column;
	color: var(--lightBeige);
	border-radius: 10px;
	padding: 1em 3em 1em 0.8em;
	font-family: var(--fontRegular);
	position: relative;
}

.login__fond {
	position: absolute;
	top: 0;
	left: 0;
	height: 455px;
	width: 336px;
	border-radius: 10px;
}

.login__label {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	margin: 0.5em;
	font-size: 0.9em;
	z-index: 2;
}

.login__blocInput {
	position: relative;
}

.login__inputImage {
	position: absolute;
	height: 20px;
	border-radius: 50%;
	left: 5px;
	top: 4px;
}

.login__input {
	padding: 0.5em 0.5em 0.5em 2.2em;
	border-radius: 15px;
	width: 100%;
	border: none;
	margin: 0 auto;
	color: var(--darkMarron);
	z-index: 2;
}

.login__left {
	display: none;
	position: relative;
}

.login__button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 7.5em auto 1.5em;
	background-color: var(--darkMarron);
	color: var(--lightBeige);
	border-radius: 1em;
	width: 10em;
	padding: 0.5em;
	font-weight: 600;
	border: none;
	cursor: pointer;
	font-family: var(--fontRegular);
	z-index: 999;
	position: relative;
}

.login__signup {
	font-size: 0.9em;
	text-align: center;
	color: var(--darkMarron);
	margin: 0.5em 0 1em;
	z-index: 2;
}

.login__signup-link {
	color: var(--darkMarron);
	text-decoration: none;
	font-weight: 600;
	padding-left: 5px;
}

.login__line {
	width: 100px;
	border: 2px solid var(--lightBeige);
	margin: 0 auto 1.8em;
	z-index: 2;
}

.login__ballon {
	width: 50px;
}

#ballon1 {
	position: absolute;
	bottom: 10px;
	left: 40px;
}

.login__text {
	color: var(--darkMarron);
	font-weight: 600;
	text-align: center;
	font-family: var(--fontTitle);
	padding: 0 15px;
}

.login__error {
	z-index: 2;
}

@media (min-width: 375px) {
	.login__form {
		width: 275px;
		margin: 0 auto;
	}
}

@media (min-width: 768px) {
	.login {
		background-color: var(--mediumBeige);
		border-radius: 10px;
		width: 730px;
		margin: 25px auto;
	}

	.login__section {
		display: flex;
		height: 455px;
	}

	.login__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 385px;
	}

	.login__form {
		width: 410px;
	}

	.login__fond {
		height: 455px;
		width: 370px;
		right: 0;
		border-top-left-radius: 0;
	}
}
