/* 
.login {
    display: flex;
    justify-content: center;
    height: 80vh;
    background: transparent;
}
.login__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: var(--white);
    margin: 0 auto;
} */