@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Italianno&family=Libertinus+Sans&family=Montserrat:wght@400;500;600;700&display=swap");

:root {
	/* Palette beige et marron */
	--lightBeige: #f5f1e6;
	--mediumBeige: #d9cbb3;
	--darkBeige: #b6a58a;

	--lightMarron: #d7bfa8;
	--mediumMarron: #796b6a;
	--darkMarron: #423c39;

	--bodyBeige: #f0ece1ff;

	/* Utilisée pour la gestion des erreurs */
	--orange: #d28b4d;

	/* Hover */
	--hoverLightBeige: #f8f4e8;
	--hoverMediumBeige: #c8baa2;
	--hoverDarkBeige: #9e8c76;

	--hoverLightMarron: #cdb099;
	--hoverMediumMarron: #6c5f5b;
	--hoverDarkMarron: #645a56;

	/* Transitions */
	--transitionColor: color 0.3s ease-in-out;
	--transitionBG: background-color 0.3s ease-in-out;
	--transitionOpacity: opacity 0.5s ease-in-out;
	--transitionBS: box-shadow 0.3s ease;
	--transition: 0.3s ease-in-out;

	/* Typographies */
	--fontRegular: "Montserrat", sans-serif;
	--fontTitle: "Hammersmith One", sans-serif;
	--fontGift: "Italianno", cursive;
	--fontScript: "Libertinus Sans", sans-serif;

	--shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
	--shadowDropdown: 0 12px 20px -8px rgba(0, 0, 0, 0.18);
}
