@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

:root {
    /*variables globales */
    --lightViolet: #EEECF2;
    --mediumViolet: #9D8099;
    --darkViolet: #291527;
    --green: #717873;
    --pink: E6D5E3;
    --black: #000000
    --white: #fff;

    --lightGreen: #DFF4E8;
    --mediumGreen: #A8D5BA;
    --darkGreen: #527D62;
    --hoverLightGreen: #BDE2C5;
    --hoverDarkGreen: #3B6B4E;

    --darkKhakiGreen: #6B705C; /* Vert kaki foncé */
    --softOrange: #D4A373; /* Orange doux */
    --lightKhakiGreen: #B7B78A; /* Vert kaki clair */
    --hoverOrange: #E3B98D; /* Orange plus clair pour hover */
    --hoverDarkKhakiGreen: #5A6149; /* Vert kaki foncé pour hover */
  
    --hoverLightViolet: #D8D3E3; 
    --hoverMediumViolet: #7D677B; 
    --hoverDarkViolet: #6b3c6a; 
    --hoverGreen: #4A504A; 
    --hoverPink: #D0BFCF;
    --hoverBlack: #1A1A1A; 
    --hoverWhite: #E5E5E5;
    
    --transitionColor: color 0.3s ease-in-out;
    --transitionBG: background-color 0.3s ease-in-out;
    --transitionOpacity: opacity 0.5s ease-in-out;
    --transitionBS: box-shadow 0.3s ease;
    --transition: 0.3s ease-in-out;

  
    --fontRegular: "Montserrat", sans-serif;
    --fontTitle: "Hammersmith One", sans-serif;
    --fontLogo: "Italianno", cursive;

    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}