@import url("../../root.css");

body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: var(--darkMarron);
	background: var(--bodyBeige);
	transition: all 0.3s ease;
	font-family: var(--fontRegular);
}

.header {
	background-color: var(--bodyBeige);
}

.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem 1.5rem;
	font-family: var(--fontRegular);
	position: relative;
	height: 40px;
	color: var(--lightBeige);
	animation: slideDown 0.5s ease-in-out;

	svg {
		width: 30px;
		height: 40px;
	}
}

.header__branding {
	display: flex;
	margin-top: 10px;
	text-decoration: none;
	user-select: none;
	z-index: 10000;
	gap: 5px;
	transition: var(--transition);
	cursor: pointer;
}

.header__branding:hover {
	transform: scale(1.05);
	color: var(--hoverDarkMarron);
}

.header__title {
	font-family: var(--fontTitle);
	font-size: 1.3rem;
	margin-top: 9px;
	color: var(--darkMarron);
}

.header__title:hover {
	color: var(--hoverDarkMarron);
}

.header__logo {
	height: 30px;
	width: 30px;
}

.header__right-group {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header__burger-button {
	background: none;
	border: none;
	font-size: 1.8rem;
	color: var(--darkMarron);
	cursor: pointer;
	transition: var(--transitionColor);
	z-index: 10000;
}

.header__burger-button:hover {
	color: var(--hoverDarkMarron);
	transform: scale(1.1);
}

.header__auth-mobile,
.header__user-mobile {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	color: var(--lightBeige);
	text-decoration: none;
	cursor: pointer;
	z-index: 10000;
}

.header__auth-mobile,
.header__dropdown-item {
	padding: 0 1rem;
	border-radius: 50px;
	background-color: var(--mediumMarron);
	box-shadow: var(--shadow);
  	transition: var(--transition);
}

.header__auth-mobile:hover,
.header__dropdown-item:hover {
	background-color: var(--hoverMediumMarron);
  	transform: translateY(-2px);
	color: var(--lightBeige);
}

.header__user-text,
.header__auth-text {
	display: none;
	text-transform: capitalize;
	color: var(--lightBeige);
	font-weight: 600;
}

.header__user-info .header__user-text {
	color: var(--darkMarron);
}

.header__user-info .header__user-text:hover {
	color: var(--hoverDarkMarron);
}


.header__user-mobile button {
	border: none;
	cursor: pointer;
	color: var(--lightBeige);
	display: flex;
	align-items: center;
	gap: 0.3rem;
	font-size: 16px;
	font-family: var(--fontRegular);
	transition: var(--transition);
}

.header__user-mobile button:hover {
	color: var(--hoverLightBeige);
  	transform: translateY(-2px);
}

.header__top {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: var(--mediumBeige);
	padding: 1rem 0;
	z-index: 50;
	transition: var(--transitionBG);
}

.header__top.hidden {
	display: none;
}

.header__top.visible {
	position: fixed;
	top: 56px; 
	left: 0;
	width: 100vw;
	height: calc(100vh - 56px);
	background-color: var(--bodyBeige);
	display: flex;
	flex-direction: column;
	padding-top: 150px;
	align-items: center;
	list-style: none;
	z-index: 9998;
	overflow: hidden; 
	animation: slideDown 0.4s ease forwards;
}

.header__nav-link {
	text-decoration: none;
	color: var(--darkMarron);
	transition: var(--transitionColor);
	font-weight: 600;
}

.header__nav-link:hover {
	color: var(--hoverDarkMarron);
	transform: scale(1.1);
}

.header__nav-item {
	margin-bottom: 15px;
	transition: transform 0.3s ease;
}

.header__nav-item:hover {
	transform: scale(1.1);
}

.header__user-image {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid var(--lightBeige);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.header__user-info {
	display: flex;
	align-items: center;
	transition: var(--transition);
}

.header__user-info:hover {
	transform: scale(1.05);
}

@media (min-width: 768px) {
	.header__content {
		padding: 1rem;
	}

	.header__burger-button {
		display: none;
	}

	.header__right-group {
		gap: 2rem;
	}

	.header__top {
		position: static;
		display: block !important;
		box-shadow: none;
		border-radius: 0;
		padding: 0;
		background-color: transparent;
		height: auto;
		z-index: auto;
	}

	nav.header__nav {
		display: flex;
		gap: 1rem;
	}

	.header__nav-item {
		list-style: none;
		margin-bottom: 0;
	}

	.header__top.visible,
	.header__top.hidden {
		all: unset;
		display: block;
	}
}

@media (min-width: 990px) {
	.header__user-text,
	.header__auth-text {
		display: flex;
	}

	.header__user-text {
		transition: var(--transition);
	}

	.header__user-image {
		margin-right: 5px;
	}

	.header__user-mobile button {
		margin-left: 10px;
	}
}

@media (min-width: 1200px){
	.header__content {
		width: 1085px;
		margin: auto;
	}

	.header__title {
		font-size: 1.5rem;
	}

	.header__logo {
		height: 35px;
		width: 35px;
	}
}

@media (min-width: 1400px){
	.header__content {
		width: 1250px
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
