.news-section__container {
	padding: 0 1rem 3.5rem;
	max-width: 1200px;
	margin: 0 auto;
}

.news-section__title {
	font-family: var(--fontTitle);
	font-size: 1rem;
	color: var(--darkMarron);
	text-transform: uppercase;
	margin: 0 0 20px 0;
	padding: 0;
}

.news-section__grid {
	display: grid;
	gap: 1.5rem;
}

.news-block__container {
	display: flex;
	align-items: center;
	background-color: var(--lightBeige);
	cursor: pointer;
	border-radius: 12px;
	overflow: hidden;
	border-bottom: 2px solid var(--darkBeige);
	background-color: var(--mediumBeige);	
	transition: var(--transition),
}

.news-block__container:hover {
	transform: scale(1.02);
}

.news-block__image-wrapper {
	width: 100%;
	overflow: hidden;
}

.news-block__image {
	width: 100%;
	height: 100%;
	margin: 15px;
	object-fit: cover;
}

.news-block__content {
	padding: 0.5rem;
}

.news-block__title {
	font-size: 1rem;
	color: var(--darkMarron);
	margin-bottom: 0.5rem;
}

.news-block__text {
	font-size: 0.9rem;
	color: var(--darkMarron);
	line-height: 1.5;
}

@media (min-width: 768px) {
	.news-section__container {
		padding: 0 1rem 3.5rem 0;
	}
}
@media (min-width: 1200px) {
	.news-section__container {
		padding: 26.3rem 1rem 2rem;
	}

	.news-section__title {
		font-size: 1.3rem;
		text-align: left;
	}
}

@media (min-width: 1400px) {
	.news-section__container {
		padding: 26.8rem 1rem 3.8rem;
	}
}
