.last-chapters__container {
	border-right: none;
	display: flex;
	flex-direction: column;
	padding: 0.5rem 1rem 1.5rem;
}

.last-chapters__title {
	font-family: var(--fontTitle);
	font-size: 1rem;
	color: var(--darkMarron);
	text-transform: uppercase;
	margin: 0 0 20px 0;
	padding: 0;
}

.last-chapters__list {
	display: block;
	width: 100%;
	height: 200px;
	border-bottom: 2px solid var(--darkBeige);
	background-color: var(--mediumBeige);
	border-radius: 10px;
	padding: 10px 0;

	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.last-chapters__list::-webkit-scrollbar {
	display: none;
}

.last-chapters__item {
	list-style: none;
	margin-bottom: 0.4rem;
}

.last-chapters__link {
	text-decoration: none;
	color: var(--darkMarron);
	padding: 0.3rem 0.6rem;
	display: block;
	border-radius: 6px;
	transition: var(--transitionBG), var(--transitionColor);
}

.last-chapters__link:hover {
	background-color: var(--hoverLightBeige);
}

.last-chapters__chapter-title {
	margin: 0;
	font-size: 1rem;
}

.last-chapters__error {
	color: red;
	font-size: 0.9rem;
	margin-top: 1rem;
}

@media (min-width: 768px) {
	.last-chapters__container {
		padding: 0 1rem 1.5rem;
	}
}
@media (min-width: 1200px) {
	.last-chapters__title {
		font-size: 1.3rem;
		text-align: left;
	}
	.last-chapters__container {
		padding: 2.8rem 1rem 1.5rem 0;
	}
}
